.form, .field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input[type="text"], .form select {
  font-family: 'Outfit', sans-serif;
  padding: 1rem;
  background-color: transparent;
  border: .2rem solid var(--black);
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 1rem;
}

.submit {
  font-family: 'Outfit', sans-serif;
  background-color: var(--black);
  border: none;
  color: var(--second);
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.submit:hover {
  background-color: rgb(25, 25, 25);
}