:root {
  --black  : #000; 
  --primary : #F59E0B;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  background-image: url('/public/pexels-eberhardgross-1292115.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--black);
  font-size: 2rem;
}